# ==========================
# React / Vite
# ==========================
node_modules/
dist/
.vite/

# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
.env

# ==========================
# Jupyter
# ==========================
.ipynb_checkpoints/

# ==========================
# YOLO Models
# ==========================
backend/models/*.pt
backend/models/*.onnx

# ==========================
# Datasets
# ==========================
datasets/
data/

# ==========================
# Videos
# ==========================
videos/
backend/uploads/
backend/outputs/

# ==========================
# Logs
# ==========================
*.log
backend/logs/

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# VS Code
# ==========================
.vscode/settings.json